/* CSS RESET */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
/* END RESET */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto';
}

body {
  font-family: sans-serif;
  background-color: #1f1d2b;
  color: #ffffff;
}

h1 {
  text-align: center;
  padding: 0.75em 0;
}

button {
  border: 0;
  border-radius: 2px;
  background-color: #279fc4;
  color: #ffffff;
  padding: 6px 12px;
}

nav {
  height: 60px;
  padding: 30px;
  background-color: #1f1d2b;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

nav button {
  margin: 2px 4px;
}

nav input {
  border: 0;
  width: 180px;
  padding: 6px 12px;
  border-radius: 2px;
}


@media only screen and (max-width: 380px) {
  nav input {
    max-width: 100px;
  }
}

#container {
  max-width: 1024px;
  margin: 0 auto;
}

#card-container {
  display: flex;
  justify-content: center;
  list-style: none;
  flex-wrap: wrap;
}

#card-container h2 {
  margin: 0.5em 0;
}

#card-container > li {
  background-color: #252836;
  padding: 1em;
  border-radius: 4px;
  width: 220px;
  margin: 8px 8px;
}

#card-container button {
  float: right;
}

#card-container > li > ul {
  display: flex;
  flex-flow: column;
  margin-bottom: 12px;
}

#card-container ul > li {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4px;
  text-transform: capitalize;
}

#card-container img {
  border-radius: 4px;
  max-height: 200px;
  width: 200px;
  object-fit: cover;
}

#card-container input {
  background-color: #1f1d2b;
  color: #ffffff;
  border: 0;
  padding-left: 6px;
}

.stat-number, #card-container input {
  max-width: 54px;
}

